<a href="https://colab.research.google.com/github/Flor-Si/Trabajos/blob/main/Notebook_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programa Ingenias+ Data Science

## Analisis Exploratorio de un Dataset

Esta notebook les permitiria ejercitar los conceptos de Pandas 游냪  y An치lisis exploratorio de datos 游늵 que aprendimos hasta ahora. Vamos a trabajar con un dataset que contiene datos relativos a [clientes de un centro comercial](https://www.kaggle.com/akram24/mall-customers). En el Drive esta descargado el archivo. Si tenes inconvenientes o  ese archivo no funciona podes descargarlo directamente de la p치gina web.

### 游댧 Comenzando el proyecto 游꿀

Es tu primer dia como Data Scientist. Tu primer proyecto consiste en hacer un an치lisis de datos sobre clientes de un centro comercial para luego hacer una predicci칩n de ventas o un analisis de cluster. Antes que nada, debes inspeccionar y visualizar tu dataset para saber con que datos estas trabajando.

Como mencionamos durante la clase, una de las primeras cosas que debe realizar un Data Scientist al iniciar un nuevo proyecto es conocer el dataset con el cual va a trabajar. Este paso se conoce como _"Analisis exploratorio de los datos"_.

Adem치s de obtener que tipo de datos contiene el dataset, estadistica descriptiva, detectar problemas como valores faltantes, establecer que tipo de relaci칩n existe entre las distintas variables, tambi칠n debemos visualizar los datos. Este an치lisis nos permitira hacernos preguntas que puedan ser contestadas con el dataset como as칤 plantear estrategias para poder resolver problemas presentes en 칠l.

#### IMPORTA LAS LIBRERIAS NECESARIAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

#### LEE LOS DATOS

**_Lee los datos que se encuentran en el archivo `clientes_mall.csv`. Guardalos en un DataFrame._**

In [4]:
clientes = pd.read_csv('/content/clientes_mall.csv')

#### INSPECCIONA LOS DATOS

Primero obtene una visi칩n general del dataset:


游뱂 &nbsp; **_쮺omo se ven las primeras 5 filas? 쮺uantas filas y columnas posee? 쯈ue tipos de datos contiene cada una de las columnas?_**

In [5]:
clientes.head()

,Unnamed: 0,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
0,0,1.0,Male,19.0,15.0,39.0
1,1,2.0,NaN,21.0,15.0,81.0
2,2,3.0,Female,20.0,16.0,6.0
3,3,4.0,Female,23.0,16.0,77.0
4,4,5.0,NaN,31.0,17.0,40.0

In [8]:
clientes.shape

(200, 6)

In [9]:
clientes.dtypes

Unnamed: 0                  int64
CustomerID                float64
Genre                      object
Age                       float64
Annual Income (k$)        float64
Spending Score (1-100)    float64
dtype: object

**_Hay algunas columnas que tienen nombres incomodos (ej. `Spending Score (1-100)` y `Annual Income (k$)`). Renombra esas columnas_**

In [14]:
clientes = clientes.rename(columns={'Puntaje de Gastos':'Puntuaci칩n', 'Annual Income (k$)':'Salario Anual'})
print(clientes.columns)

Index(['Unnamed: 0', 'CustomerID', 'Genre', 'Age', 'Salario Anual',
       'Puntuaci칩n'],
      dtype='object')

#### Valores faltantes

游뱂 &nbsp; **_쮿ay valores faltantes en alguna de las columnas?_**

In [16]:
clientes.isnull().sum()

Unnamed: 0        0
CustomerID       11
Genre            14
Age              11
Salario Anual    15
Puntuaci칩n       14
dtype: int64

**_Elimina todas las filas que tengan valores faltantes_**

In [19]:
clientes = clientes.dropna()
clientes.shape

(139, 6)

#### FILTRA LOS DATOS

Porque tu compa침ia quiere dise침ar un a campa침a de marketing especial para personas entre 25 y 40 a침os, vamos a analizar los datos solo para estos clientes.

In [25]:
Clientes_selec = (clientes[clientes['Age'].between(25,40)])
Clientes_selec.shape

(61, 6)

游뱂 &nbsp; **_Chequea que categorias aparecen en la columna `Age`_**.

**_Filtra los datos para quedarte unicamente con las filas que correspondan a personas entre 25 y 40 a침os. Guardalo en una variable que se llame `clientes_seleccionados`._**

**_Reiniciamos el indice usando `reset_index()` para que las filas vuelvan a ser numeradas a partir de 0. `drop=True` permite descartar los indices anteriores y no guardarlos como una nueva columna. `inplace=True` permite que se modifique el DataFrame original._**

In [26]:
clientes.reset_index(drop=True, inplace=True)

**_Obtene estadistica descriptiva para las columnas que corresponden al salario anual y puntaje de gastos de las personas entre 25 y 40 a침os. Lo importante es que se muestre promedio, mediana, desvio estandard, valores minimos y maximos._**

游뱂 &nbsp; De acuerdo a los valores **_쮺u치l es el sueldo promedio de estos clientes? 쮺ual es el puntaje de gastos mediano en el grupo? 쮺rees que son buenas medidas para caracterizar el grupo?_**

**_Compara estos valores con aquellos de los clientes en general._**

**_Obtiene la edad promedio de clientes que tienen un sueldo mayor al promedio._**

**_Compara estos valores con aquellos de los clientes en general._**

游뱂 &nbsp; **_쯈u칠 otras preguntas te surgen para analizar en este dataset?_**

#### VISUALIZA LOS DATOS

**_Visualiza la distribuci칩n de las variables de sueldo promedio y puntaje de gastos. Haz gr치ficos que superpongan la distribuci칩n de cada una de estas variables de manera global como tambi칠n s칩lo para los clientes seleccionados._**

**_Agrupa los datos por la variable `Genre` para ambos casos. Gr치fica el ingreso promedio y su dispersion. Grafica, luego, el ingreso mediano y su rango intercuartil._**

游뱂 &nbsp; **_쮼xiste una correlaci칩n entre el sueldo anual y el puntaje de gastos en los clientes seleccionados? 쯏 en todos los clientes en general?_**

**_Visualiza otros datos que creas relevantes para este analisis._**

#### 游 &nbsp; GUARDANDO EL ARCHIVO PARA LOS SIGUIENTES PASOS

Los siguientes pasos que vamos a tomar implican la transformaci칩n de los datos presentes en el dataset para un correcto ajuste de un modelo a elecci칩n. Para no tener que correr nuevamente todo el c칩digo, podemos guardar en un archivo `csv` el dataset tal cual lo tenemos ahora.

1) **Utiliza la funci칩n `.to_csv()` para guardar tu dataset**. Antes de hacerlo chequea la [documentaci칩n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).